
section {
  display: grid;
}
.main-div-separator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar-links {
  background-color: aliceblue;
  grid-column: 1/2;
  grid-row: 2/5;
  padding: 10em;
}

.main-content-education {
  background-color:aqua;
  grid-column: 2/6;
  grid-row: 2/5;
}
